/* 
.main-container {
/* background-color: blueviolet; */
/* }

.header-container {
    padding: 5rem 5rem;
    /* background-color: aqua; */
    /* color:white; */


/* .content-container {
    display: flex;
    flex-direction: row; */
    /* background-color: rgb(238, 127, 54); */
    /* padding: 8rem 8rem;
     */
/* } */
/* 
.footer-container { */
    /* background-color: rgb(101, 189, 0); */
    /* padding: 5rem 5rem;
}
 */ 
